*.lck
CAD/OldVersions/
~$*
CAD/Baugruppe1/Konstruktions-Assistent/OldVersions/Stirnzahnrad21.0009.ipt
CAD/Baugruppe1/Konstruktions-Assistent/OldVersions/
CAD/Baugruppe1/OldVersions/
CAD/PlanetaryGear/OldVersions/
CAD/PlanetaryGear/Konstruktions-Assistent/OldVersions/
CAD/PlanetaryGear/PlanetaryGearConstr/Konstruktions-Assistent/OldVersions/
zcode/
CAD/Encoder/OldVersions/
code/Release/
CAD/CycloidalGear/OldVersions/
CAD/CycloidalGear2/OldVersions/
