*.lck
~$*
CAD/OldVersions
CAD/*/OldVersions
CAD/*/*/OldVersions
CAD/*/*/*/OldVersions
zcode/
code/Release/
code/*/Release
cortex-workspace/
sloeber-workspace/
code/.settings/
schematics/*/*#*
schematics/*#*
*.o
*.pro
*.job
*.zcode
*settings.txt
CAD/Images/
*.d
